image: docker:stable
services:
    - docker:dind

stages:
    - build
    - test
    - release

variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    CONTAINER_TEST_IMAGE: $DOCKER_REGISTRY:$CI_COMMIT_REF_SLUG
    CONTAINER_LATEST_IMAGE: $DOCKER_REGISTRY:latest
    CONTAINER_LATEST_DEV_IMAGE: $DOCKER_REGISTRY/dev:latest
    CONTAINER_TAGGED_IMAGE: $DOCKER_REGISTRY:$CI_COMMIT_TAG

before_script:
    - docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_TOKEN


build:
    tags:
      - docker
    stage: build
    script:
        - docker build --pull -t $CONTAINER_TEST_IMAGE -f ci/docker/dockerfile .
        - docker push $CONTAINER_TEST_IMAGE


pages:
    tags:
      - docker
    stage: build
    except:
        - schedules
    script:
        - docker build --pull -t sphinx_doc -f ci/docker/sphinx_doc_dockerfile .
        - docker run -di --name sphinx_doc_container sphinx_doc
        - docker cp sphinx_doc_container:/pommes/docs/build/html $CI_PROJECT_DIR/public
        - docker stop sphinx_doc_container
    artifacts:
      paths:
       - public


test:
    tags:
      - docker
    stage: test
    except:
        - schedules
    script:
        - docker pull $CONTAINER_TEST_IMAGE
        - docker run  $CONTAINER_TEST_IMAGE /bin/bash -c "cd pommes/tests && pytest"


release-latest-image:
    tags:
      - docker
    stage: release
    only:
        - main
    script:
        - docker pull $CONTAINER_TEST_IMAGE
        - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_LATEST_IMAGE
        - docker push $CONTAINER_LATEST_IMAGE


release-tagged-image:
    tags:
      - docker
    stage: release
    only:
        - tags
    except:
        - schedules
        - branches
    script:
        - docker pull $CONTAINER_TEST_IMAGE
        - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_TAGGED_IMAGE
        - docker push $CONTAINER_TAGGED_IMAGE


build-wheel:
    image: python:3.10
    stage: build
    tags:
      - docker
    only:
        - tags
    except:
        - schedules
    before_script: []
    script:
        - pip install build
        - python -m build --wheel
    artifacts:
        paths:
            - dist/*.whl
        expire_in: 1 week

publish-pypi:
    image: python:3.10
    stage: release
    tags:
      - docker
    only:
        - tags
    except:
        - schedules
        - branches
    dependencies:
        - build-wheel
    before_script: []
    script:
        - pip install twine
        - python -m twine upload --username __token__ --password $PYPI_API_TOKEN dist/*.whl
